body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');


/*Select Photo Shoot page*/
.hero-subtitle{
  font-weight: 500;
  color: black;
  font-size:16px;
  width: 90%;
  margin: auto;
}
.service-title{
  margin-left: 25px;
  font-size: 18px;
}
.detail-service{

}
.photo{
  margin-left: 25px;
}
.right-detail{
  width: 75%;
  float: right;
  margin-right: 25px;
}
/*Your details page*/
.about{
  width: 90%;
  border-bottom: 1px solid grey;
  margin:auto;
  padding-top: 15px;
}
.left-side{
  width: 10%;
  margin-right: 5px;
  display: inline-block;
  color:#b3b3ff;
}
.right-side{
  width: 80%;
  vertical-align: top;
  display:inline-block;
  padding-bottom: 5px;
}
ul{
  list-style: none;
}
/*Registration page*/
.registration{
  padding-top: 30px;
}
.buttons-next{
  width: 90%;
  padding-top: 30px;
  margin: auto;

}
.btn-left{

}
.btn-right{
  float:right;
}